[Desktop Entry]
Name=Kaon
Exec=kaon
Icon=kaon
Comment=Use UEVR with Steam games via Proton
GenericName=Kaon
Terminal=false
Type=Application
Categories=Game
